doctype html  
html(lang='en')
    head
        title UTF8Converter

        link(href='../css/main.css', rel='stylesheet')

        script.
            if (typeof module === 'object') {window.module = module; module = undefined;}

        script(src='https://code.jquery.com/jquery-3.4.1.min.js')
        script(src='../js/main.js')

        script.
            if (window.module) module = window.module;

    body
        main.center
            h1 UTF8Converter
                form(enctype="multipart/form-data")
                    input(id="uploadFile", name='textFile', type='file')
                    br
                    input(id='submitBtn', type='button', value='Przetwarzaj')